<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Posts</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each  do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.email %></td>
        <td><%= link_to 'Posts', user_posts_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
