<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="w-100 d-flex justify-content-between mx-3">
    <a class="navbar-brand" href="/users">Blog app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <% if current_user %>
        <a class="nav-link text-primary" href="#" role="button">
          <%= current_user.email %>
        </a>
       
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-primary' %>
      <% end %>
    </div>
  </div>
</nav>